

$star-size: 3px;
$star2-size: 4px;
$star3-size: 5px;
//$star-color: #3c70ea;

//n is number of stars required
@function multiple-box-shadow ($n) {
    //$value: '#{random(5000)}px #{random(5000)}px #{$star-color}';
    $value: '#{random(5000)}px #{random(5000)}px';
    @for $i from 2 through $n {
        //$value: '#{$value} , #{random(5000)}px #{random(5000)}px #{$star-color}';
        $value: '#{$value} , #{random(5000)}px #{random(5000)}px';
    }
    @return unquote($value);
}

$shadows-small:  multiple-box-shadow(150);
$shadows-medium: multiple-box-shadow(100);
$shadows-big:    multiple-box-shadow(50);

.stars{
    float: left;
    background: transparent;
}
.stars:after{
    content: " ";
    position: absolute;
    top: 5000px;
    background: transparent;
}

#star{
  width: $star-size;
  height: $star-size;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;  
//   #star:after{
//     width: $star-size;
//     height: $star-size;
//     //box-shadow: $shadows-small;
//   }
}
  
#star2{
    width: $star2-size;
    height: $star2-size;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;       
    // #star2:after{
    //     width: $star2-size;
    //     height: $star2-size;
    //     //box-shadow: $shadows-medium;
    // }
}
    
#star3{
    width: $star3-size;
    height: $star3-size;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
    // #star3:after{
    //     width: $star3-size;
    //     height: $star3-size;
    //     //box-shadow: $shadows-big;
    // }
}

@keyframes animStar{
    from{
        transform: translateY(0px);
    }	
    to{
        transform: translateY(-5000px);
    }		   
}

    