
// 全局默认样式
$_bgColor: #fff;
$_fontColor: #111;
$_fontFamily:'方正兰亭纤黑', Arial, Microsoft YaHei, '黑体','宋体', sans-serif;;
$_bstColor: #3c70ea;

//开始自适应的最大宽度, 用于@media媒体查询
$_maxWidth: 500px;

//开始固定宽度的最小宽度, 用于@media媒体查询
$_minWidth: 1920px;